<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
 

<!-- Название NEWS -->
{% block title %}
    Задание модуля D5
{% endblock title %}

{% block content %}
    <div style="text-align: left; margin-left: auto;">    
        <br>
        <h3>Задание:</h3>
        <hr>
        <ol>
            <li>В классе-представлении редактирования профиля добавить проверку аутентификации.</li>
            <li>Выполнить необходимые настройки пакета allauth в файле конфигурации.</li>
            <li>В файле конфигурации определить адрес для перенаправления на страницу входа в систему и адрес перенаправления после успешного входа.</li>
            <li>Реализовать шаблон с формой входа в систему и выполнить настройку конфигурации URL.</li>
            <li>Реализовать шаблон страницы регистрации пользователей.</li>
            <li>Реализовать возможность регистрации через Google-аккаунт.</li>
            <li>Создать группы common и authors.</li>
            <li>Реализовать автоматическое добавление новых пользователей в группу common.</li>
            <li>Создать возможность стать автором (быть добавленным в группу authors).</li>
            <li>Для группы authors предоставить права создания и редактирования объектов модели Post (новостей и статей).</li>
            <li>В классах-представлениях добавления и редактирования новостей и статей добавить проверку прав доступа.</li>
        </ol>      
        <hr>    
    </div>
    
{% endblock content %}